body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

/*Home page*/
#homePageCarousel{
  min-height: 70vh;
}
.text-carousel{
  margin: 40px 0;
  font-size: 36px;
  line-height: 50px;
  font-family: 'Playfair Display', serif;
  color: #111;
}
.text-carousel a{
  color: inherit;
  border-bottom: 2px solid #000;
}
.text-carousel .more{
  color: #777;
  font-size: 16px;
  margin-top: 40px;
}
.text-carousel .more a{
  color: #777;
  /*font-style: italic;*/
  border-bottom: none;
}

